:root {
    --animate-speed: 3s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1280px;
    padding: 0 1.5rem;
    margin: auto;
    overflow: hidden; }

html, body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.7em;
}

ul {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

#navbar {
    background-color: #333;
    color: #fff;
}

#navbar a {
    color: #ffffff;
}

#navbar ul li a:hover,
#navbar ul li a.current {
    border-bottom: mediumpurple 4px solid;
    color: #ffffff;
}

/*Navbar Flex Settings*/
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    padding: 0 30px;
    opacity: 0.7;
    z-index: 1;
    /*transition: 0.5s;*/
}

#navbar a {
    padding: 10px 20px;
    margin: 0 5px;
}

#navbar ul {
    display: flex;

}

.logo {
    font-weight: 400;
}

/*Background*/
.content-h1 {
    font-size: 6rem;
    color: #ffffff;
    margin: 2.2rem;
}

.content-p {
    color: #ffffff;
}

#landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

#landing-page::before {
    content: '';
    background: url('https://images.unsplash.com/photo-1470071459604-3b5ec3a7fe05?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1440&q=80') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /*opacity: 0.5;*/
}


/*Homepage Animation*/

/*#content h2 {*/
/*    transform: translateY(-1200px);*/
/*    animation: heading var(--animate-speed) forwards ease-in;*/
/*}*/

/*#content p {*/
/*    transform: translateX(-2000px);*/
/*    animation: text var(--animate-speed) forwards ease-in 2s;*/
/*}*/

/*@keyframes heading {*/
/*    to {*/
/*        transform: translateY(0);*/
/*    }*/
/*}@keyframes text {*/
/*     to {*/
/*         transform: translateX(0);*/
/*     }*/
/* }*/

/*Icons*/

i {
    color: mediumpurple;
}

.social a i {
    color: mediumpurple;
    margin-top: 10px;
    margin-right: 20px;
}


img {
width: 100%;
}

/*Media queries*/

@media (max-width: 500px) {
    #navbar {
        flex-direction: column;
        height: 120px;
        padding: 20px;
    }

    #navbar a {
        padding: 5px 5px;
        margin: 0 3px;
    }

    #content p, h2 {
        text-align: center;
    }

    #content h2 {
        font-size: 2.5rem;
        margin-bottom: 12px;
    }

    #content p {
        font-size: .8rem;
        line-height: 1.4;
    }

}

@media (max-width: 768px) and (min-width: 499px) {
    #navbar {
        flex-direction: column;
        height: 120px;
        padding: 20px;
    }

    #navbar a {
        font-size: 1.3rem;
        padding: 5px 5px;
        margin: 0 3px;
    }

    #content p, h2 {
        text-align: center;
    }

    #content h2 {
        font-size: 4rem;
        margin-bottom: 20px;
    }

    #content p {
        font-size: 1.2rem;
        line-height: 1.4;
    }

}


/*About Page*/

#about-a {
    margin-top: 120px;
    align-items: center;
    text-align: center;
}

/*Grid Section*/

#about-a .about-info {
    display: grid;
    grid-template-areas: 'bioimage bio bio';
    grid-gap: 1.2rem;
}

#about-a .bio-image {
    grid-area: bioimage;
}

#about-a .bio {
    grid-area: bio;
    border-left: 3px solid mediumpurple;
    padding: 0.8rem;
    background: #f4f4f4;
    text-align: justify;
}

.section-title {
    font-size: 2rem;
    display: block;
    padding-bottom: 0.5rem;
    text-align: center;
    font-weight: 100;
    text-transform: uppercase; }

.bottom-line {
    height: 2px;
    width: 4rem;
    background: mediumpurple;
    display: block;
    margin: 0 auto 1rem auto; }

.lead {
    margin-bottom: 1rem;
}



















